body {font-family: "helvetica", san-serif;
font-weight: 300;
color: #000;
font-size: .9em;
-webkit-perspective: 1100px;
perspective: 1100px;
transform-style: preserve-3D;
 }

#container {
	position: relative
}

#device {border: solid 20px black;
position: absolute;
width: 320px;
height: 460px;
background: transparent;
overflow: hidden;
-webkit-transform-style: preserve-3D;
transform-style: preserve-3D;
top: 20px;
left: 400px }

#homescreen {width: 100%;
height: 100%;
position: absolute;
left: 0;
opacity: .95;
background-image: url('images/wds12.jpg');
background-repeat: no-repeat;
color: #fff; }

#homescreen figure {width: 64px;
text-align: center;
float: left;
margin: 20px;
text-shadow: 0 1px 0 #555; }

#homescreen img {width: 100%;
border-radius: 10px;
box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .6); }

footer {position: relative;
color: #000023; 
width: 360px}

p {clear: both}